body {
    background-color: slateblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}

img {
    border-radius: 250px;
    height: 500px;
    width: 500px;
    margin: 10px;
    padding: 5px;
}

/* Font Sizing */


h1 {
    font-size: 128px;
}

h2 {
    font-size: 72px;
}

p {
    font-size: 56px;
}
div {
    display: inline-block;
    height: 500px;
}
a {
    display: block;
    text-align: center;
    margin: 15px;
    color: slateblue;
    background-color: white;
    font-size: 56px;
    border-radius: 10px;
    padding: 10px;
    width: 750px;
    height: 75px;
    text-decoration: none;
    border: 1px solid whitesmoke;
    font-weight: bold;
}

a:hover {
    color: white;
    background-color: orangered;
    border: 1px solid black;
}


