* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;

}
html{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.floating-contact {
    display: flex;
    background-color: bisque;
    max-width: 200px;
    max-height: 250px;
    border: purple 1px solid;
    margin-top: 10px;
    margin-left: 10px;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.floating-contact img {
    width: 50px;
    height: 50px;
  }

.floating-contact ul {
    list-style-type: none;
  }

header {
    display: flex;
    flex-direction: row;
    border: 1px #333 solid;
    background-color: #333;
}

.headshot-img {
    float: left;
    max-width: 150px;
    border-radius: 50%;
}

nav {
   
}
 
nav ul {
    margin: 0;
    list-style-type: none;
    text-align: end;
}

nav li {
    margin: 0;
    list-style-type: none;
    text-align: end;
    /*display: inline;
    */
}

nav a {
    display: inline-block;
    color: whitesmoke;
    padding: 0.5em;
    text-decoration: none;
}

nav a:hover {
    background-color: grey;
}

.projects-heading {
    align-self: center;
    text-align: center;
    background-color: bisque;
    max-width: 100px;
}

.stacks {
    display: flex;
    align-items: center;
}


.stacks li {
    display: inline-block;
    
    
}

.stacks img {
    display: inline-block;
    align-self: normal;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.stacks ul  {
    list-style-type: none;
}

footer {
    display: block;
}