* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;

}
html{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

/*
body {
    display: grid;
    grid-template: 
                "a a a" 40px
                "b c c" 40px
                "b c c" 40px / 10fr 1fr 1fr;
    /*grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr); 
    }
*/

.background {
    
}

.primary {

}

.secondary {

}


body {

    border: 1px red solid;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: 1px black solid;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;

}

nav li {
    
    border-right: 1px solid #bbb;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.container {
    border: 1px dashed purple;
}

.name, .resume {
    border: 1px dashed green;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 100%;
}

.grid-parent {
    display: grid;
    grid-template-columns: 5% 10% 70% 10% 5%;
    grid-template-rows: 50% 50%;
    grid-column-gap: 10px;
    justify-items: center;
}

.main {
    border: 1px solid red;
    margin: 10px;
    padding: 10px;


}

.left-of-main-well {
    grid-column-start: 1;
    grid-column-end: 2;

}

.floating-contact {

    border-radius: 20px;
    list-style: none;
    margin: 10px 0px;
    padding: 5px;
    background-color: bisque;
}

.floating-contact a {
    display: block;
}

.floating-contact a img {
    width: 50px;
    height: 50px;
}

.floating-contact a img:hover {
    background-color: white;
    border: 0.5px solid #111;
    border-radius: 15%;

}


.purpose {
    border: 1px dashed;
    height: auto;

}

.skills {
    grid-column-start: 2;
    grid-column-end: 3;
}

.stacks {
    display: grid;
    grid-template-columns: repeat(3, 22%);
    grid-template-rows: repeat(3, 22%);
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}



.stacks li {
    list-style: none;
}

.stacks img {
    display: block;
    width: 50px;
    height: 50px;
    padding: 5px;
}


div {
    border: 1px blue solid;
}
