* {
    box-sizing: border-box;
    font-family: Raleway, sans-serif;

}
html{
    margin: 0;
    padding: 0;
}

/*
body {
    display: grid;
    grid-template: 
                "a a a" 40px
                "b c c" 40px
                "b c c" 40px / 10fr 1fr 1fr;
    /*grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(3, 1fr); 
    }
*/

body {

    border: 1px red solid;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: 1px black solid;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

nav li {
    
    border-right: 1px solid #bbb;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}


.main {
    border: 1px solid yellow;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 50% 50%;
    justify-items: center;

}

.left-of-main-well {
    grid-column-start: 1;
    grid-column-end: 2;

}

.floating-contact {

    border-radius: 20px;
    list-style: none;
    margin: 10px 0px;
    padding: 5px;
    background-color: bisque;
}

.floating-contact a {
    display: block;
}

.floating-contact a img {
    width: 50px;
    height: 50px;
}




div {
    border: 1px blue solid;
}
